body {
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #29323c,
    #485563
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

#calcGrid {
  margin-top: 170px;
  height: 60vh;
  width: 20vw;
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  background-color: #737373;
  border-radius: 10px;
}
.button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #404040;
  color: white;
}
.button:hover {
  background-color: #595959;
}
#display {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 50px;
  grid-row: 1/2;
  grid-column: 1/5;
  background-color: #595959;
  color: #3fa663;
}
h1 {
  margin-top: 20px;
}

#divide {
  background-color: #3fa663;
  grid-row: 2/3;
  grid-column: 2/3;
}
#divide:hover {
  background-color: #2d6e44;
}
#multiply {
  background-color: #3fa663;
  grid-row: 2/3;
  grid-column: 3/4;
}
#multiply:hover {
  background-color: #2d6e44;
}
#subtract {
  background-color: #3fa663;
  grid-row: 2/3;
  grid-column: 4/5;
}
#subtract:hover {
  background-color: #2d6e44;
}
#seven {
  grid-row: 3/4;
  grid-column: 1/2;
}
#eight {
  grid-row: 3/4;
  grid-column: 2/3;
}
#nine {
  grid-row: 3/4;
  grid-column: 3/4;
}
#four {
  grid-row: 4/5;
  grid-column: 1/2;
}
#five {
  grid-row: 4/5;
  grid-column: 2/3;
}
#six {
  grid-row: 4/5;
  grid-column: 3/4;
}
#one {
  grid-row: 5/6;
  grid-column: 1/2;
}
#two {
  grid-row: 5/6;
  grid-column: 2/3;
}
#three {
  grid-row: 5/6;
  grid-column: 3/4;
}
#zero {
  grid-row: 6/7;
  grid-column: 1/3;
}
#decimal {
  grid-row: 6/7;
  grid-column: 3/4;
}
#add {
  background-color: #3fa663;
  grid-row: 3/5;
  grid-column: 4/5;
}
#add:hover {
  background-color: #2d6e44;
}
#equals {
  background-color: #3fa663;
  grid-row: 5/7;
  grid-column: 4/5;
}
#equals:hover {
  background-color: #2d6e44;
}
#clear {
  background-color: #3fa663;
  grid-row: 2/3;
  grid-column: 1/2;
}
#clear:hover {
  background-color: #2d6e44;
}
